@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Prompt:ital,wght@0,300;0,700;1,400&family=Space+Mono&display=swap");

body {
    background-color: #4158d0;
    background-image: radial-gradient(
        circle,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
    );
}

h1 {
    font-family: "Prompt", sans-serif;
    text-align: center;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

h3 {
    font-family: "Prompt", sans-serif;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-shadow: 0 0 5px #000;
}
p {
    font-family: "Prompt", sans-serif;
    text-align: center;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #000;
}
