@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Prompt:ital,wght@0,300;0,700;1,400&family=Space+Mono&display=swap");

body {
    background-color: #c22b;
    font-family: "Prompt", sans-serif;
    font-size: 16px;
    color: #333;
}
