@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Prompt:ital,wght@0,300;0,700;1,400&family=Space+Mono&display=swap");

body {
    font-family: "Prompt", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    background-color: #eb8100;
}
