@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Prompt:ital,wght@0,300;0,700;1,400&family=Space+Mono&display=swap");

body {
    font-family: "Prompt", sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    background-color: #b3e95b;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Prompt", sans-serif;
    font-size: 3rem;
    color: #1c1c1c;
    margin: 1rem 0;
    padding: 1rem;
}
